# --- RAHASIA (JANGAN DIHAPUS DARI SINI) ---
.env
config.yaml
secrets.toml

# --- DATA & DATABASE ---
data/
chroma_db_store/
*.pdf
*.db
*.sqlite3

# --- PYTHON SAMPAH ---
__pycache__/
*.pyc
.venv/
venv/
.idea/
.vscode/

# --- LAINNYA ---
.DS_Store