# --- BARIS SAKTI (Force CPU Version - Hemat 2GB!) ---
--extra-index-url https://download.pytorch.org/whl/cpu

# --- Framework LangChain (Versi Stabil 0.3.0) ---
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-text-splitters==0.3.0
langchain-openai==0.2.0
langchain-chroma==0.1.4
langchain-huggingface==0.1.0

# --- UI & Auth ---
streamlit
streamlit-authenticator
PyYAML

# --- Database & Utilities ---
chromadb
pypdf
python-dotenv
faiss-cpu

# --- Core AI Engine ---
transformers>=4.40.0
accelerate
sentence-transformers
protobuf

# --- PyTorch (Akan ambil versi CPU karena baris pertama tadi) ---
torch>=2.4.0
torchvision

# Database 
pypdf            
pysqlite3-binary 